.project-role {
   font-size: 0.7em;
   margin-bottom: 9px;
}

.projects  li {
   font-size: 0.75em;
   margin: 0 6px 9px 0;         
}

.live-presentation {
   margin-bottom: 9px;
}

.live-presentation span {
   text-decoration: underline;
   text-decoration-thickness: 15px;
   text-decoration-color: rgba(0, 159, 227, 0.507);
   text-decoration-skip-ink: none; ;
   text-underline-offset: -13px;
 }

.projects > .title {
   margin-top: 8px;
}

.project-title {
   text-decoration: wavy underline;
   text-decoration-color: rgba(0, 159, 227, 0.507);
  text-decoration-skip-ink: none;
  text-underline-offset: -9px;

}

.content ul{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}


.project-text { 
   font-size: 0.8em;
}

.stack {
   display: flex;
   flex-direction: row;
   align-items: baseline;
   margin-bottom: 9px;
}

.stack-title {
   margin-right: 9px;
}

.project-list {
   list-style-position: outside;
   list-style-type: '- ';
   margin-left: 11px;
   margin-bottom: 12px;
}

.project-github {
   margin-bottom: 9px;
}

.preview-image {
   width: 100%;
   margin-bottom: 9px;
}

@media screen and (max-width: 650px) {
   .project-title {
     text-underline-offset: -5px;     
   }

   .live-presentation span {
      text-decoration-thickness: 12px;
      text-underline-offset: -10px;
    }
}