.skills .content {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.skills .content > li {
   height: 35px;
   text-align: center;
   margin: 0 6px 9px 0;      
   text-decoration: underline;
   text-decoration-thickness: 15px;
   text-decoration-color: rgba(0, 159, 227, 0.507);
   text-decoration-skip-ink: none; ;
   text-underline-offset: -18px;
}